# Node
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.env

# Uploads
uploads/*
backend/uploads/*
!uploads/.gitkeep

# Generated Prisma JS output
backend/generated/client/*.js
backend/generated/client/**/*.js
backend/generated/client/**/*.mjs
backend/generated/client/*.mjs

# OS
.DS_Store
Thumbs.db
